body{
    background: url("../images/bg.jpg") no-repeat center center fixed;
    background-size: cover;
    color: white;
    text-align: center;
   font-size: 2em

}
h1{
    color: white;
    text-align: center;
    margin: 10 10 14 16
 
        
    
}
/*
button{
    background-color:green;
    width:200px;
    height: 50px;
    border:black;
    border:3px solid black;
    opacity: 0.8;
}
*/
div{
    background-color:orange;
    opacity:0.8;
   border-radius: 15px;
    
}